html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif; }

.main {
  max-width: 1024px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #53c1d8;
  padding: 2rem 0; }

.section-text {
  font-size: 1.5rem;
  line-height: 2.3rem;
  letter-spacing: 2px; }

.big-text {
  font-size: 3rem;
  font-weight: 700; }

.accented-text {
  font-size: 3.4rem;
  color: #53c1d8;
  font-weight: 700; }

.header {
  background-color: #323232;
  color: #fff;
  padding: 1rem 0; }

.navigation__item {
  color: #fff;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.2rem; }
  .navigation__item:not(:first-child) {
    margin-left: 1rem; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 12px; }

.pic {
  background-color: #53c1d8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #323232; }

.description {
  margin-left: 1rem; }

.base {
  background: url("../images/IMG_6949.JPG") no-repeat center top;
  min-height: 590px;
  background-size: cover;
  position: relative; }

.fork-me {
  position: absolute;
  top: 0;
  right: 0; }

.balloon {
  background: url(../images/ball1.png) no-repeat center top;
  min-height: 17rem;
  position: absolute;
  top: -1rem;
  right: 30%;
  background-size: contain;
  width: 27rem;
  animation: wave 1.3s ease infinite;
  animation-direction: alternate;
  animation-delay: -1.2s; }
  .balloon__container {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    margin-right: 54px; }
  .balloon span {
    display: inline-block; }
  .balloon .w_frontend {
    padding: 0 3px;
    font-size: 2.4rem;
    animation: wave 1.2s ease infinite;
    animation-direction: alternate;
    animation-delay: -1s; }
  .balloon .w_css {
    padding: 0 4px;
    font-size: 1.5rem;
    animation: wave 1.3s ease infinite;
    animation-direction: alternate;
    animation-delay: -1.2s; }
  .balloon .w_react {
    padding: 0 4px;
    font-size: 2.6rem;
    animation: wave 1.4s ease infinite;
    animation-direction: alternate;
    animation-delay: -1s; }
  .balloon .w_ES6 {
    padding: 0 4px;
    font-size: 2.3rem;
    animation: wave 1.5s ease infinite;
    animation-direction: alternate;
    animation-delay: -1.4s; }
  .balloon .w_redux {
    padding: 0 4px;
    font-size: 2.4rem;
    animation: wave 1.6s ease infinite;
    animation-direction: alternate;
    animation-delay: -2s; }
  .balloon .w_git {
    padding: 0 4px;
    font-size: 2.1rem;
    animation: wave 1.7s ease infinite;
    animation-direction: alternate;
    animation-delay: -2s; }
  .balloon .w_ajax {
    padding: 0 4px;
    font-size: 1.5rem;
    animation: wave 1.8s ease infinite;
    animation-direction: alternate;
    animation-delay: -2s; }
  .balloon .w_ajax {
    padding: 0 4px;
    font-size: 1.8rem;
    animation: wave 1.9s ease infinite;
    animation-direction: alternate;
    animation-delay: -2s; }
  .balloon .w_jquery {
    padding: 0 4px;
    font-size: 2rem;
    animation: wave 2s ease infinite;
    animation-direction: alternate;
    animation-delay: -3s; }
  .balloon .w_gulp {
    padding: 0 4px;
    font-size: 1.2rem;
    animation: wave 2.1s ease infinite;
    animation-direction: alternate;
    animation-delay: -3s; }
  .balloon .w_webpack {
    padding: 0 4px;
    font-size: 2.1rem;
    animation: wave 2.2s ease infinite;
    animation-direction: alternate;
    animation-delay: -3s; }
  .balloon .w_javascript {
    padding: 0 5px;
    font-size: 2rem;
    animation: wave 2.3s ease infinite;
    animation-direction: alternate;
    animation-delay: -3s; }

.profile {
  padding: 3rem 0; }
  .profile-image {
    width: 40%;
    border-radius: 50%; }
  .profile-info {
    width: 50%;
    line-height: 4rem; }

.skills {
  background-color: #323232;
  padding: 2rem 0;
  color: #fff; }

@keyframes wave {
  0% {
    transform: translate(0, -4px);
    transform: translate(-4px, 0); }
  100% {
    transform: translate(0, 3px);
    transform: translate(4px, 0); } }
