html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #e4f4f3; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main {
  max-width: 1024px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto; }

.title {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .title__small {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0; }

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #53c1d8;
  padding-top: 2rem; }

.section-text {
  font-size: 1.2rem;
  line-height: 2.3rem;
  letter-spacing: 2px; }

.section-item {
  list-style-type: circle; }

.section-column {
  width: 50%; }

.section-list {
  padding-left: 1.5rem; }

.header {
  background-color: #323232;
  color: #fff;
  padding: 1rem 0; }

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logo-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 12px; }
  .logo-letter {
    background-color: #53c1d8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #323232; }

.description {
  margin-left: 1rem; }

.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  min-height: 30rem; }
  .profile .fa {
    color: #323232; }
    .profile .fa:hover {
      color: #008dec; }
  .profile__info {
    width: 65%;
    margin-left: 2rem; }
  .profile__image {
    width: 30%;
    padding-left: 2rem;
    width: 35%; }
  .profile img {
    width: 100%; }

.skills {
  background-color: #323232;
  padding: 2rem 0;
  color: #fff; }
  .skills-container {
    display: flex;
    justify-content: space-between; }
  .skills-info {
    margin-top: 4rem; }

.socials {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem; }
