body {
  font-size: 16px;
  color: #515769;
  font-family: 'Roboto Condensed', sans-serif;
}

.main {
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
}

.logo {
  color: #00ccff;

  &-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: .9rem;
  }
}

.welcome {
  background-color: #fafafa;
  padding: 6rem 0;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;

  &__small {
    font-size: 1.5rem;
    color: #515769;
  }
}

.nick {
  color: #00ccff;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  letter-spacing: .8rem;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .3rem;

  &__small {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.5;
  }
}

.socials {
  text-align: center;
  font-size: 2rem;

  .fa {
    color: #515769;
    padding: 1rem .5rem;
    transition: .5s ease;

    &:hover {
      transform: translateY(-3px);
    
    }
  }
}

.skills {
  padding: 4rem 0;
}

.portfolio {
  padding: 4rem 0;
  background-color: #fafafa;
}


.grid { 
  width: 100%;

  &__item {
    position: relative;
    display: inline-flex;
    height: 300px;
    margin: 5px;
    background-size: cover !important;
    vertical-align: middle;
    transition: all 1s ease;

    &:hover .grid__text {
      display: block;
    }
    
    & .section__title {
      padding-top: 0;
    }

    &--1 {
      width: 31%; 
    }

    &--2 { 
      width: 63%;
    }
  }

  &__text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 300px;
    transition: 1s ease;
    background-color: rgba(255,255,255, 0.4);
  }
  
  img {
    width: 100%;
  }
}