body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #e4f4f3;
}


.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  max-width: 1024px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  &__small {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0;
  }
}


.section {
  &-title {
    font-size: 2rem;
    font-weight: 700;
    color: #53c1d8;
    padding-top: 2rem;
  }

  &-text {
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: 2px;
  }

  &-item {
    list-style-type: circle;
  }

  &-column {
    width: 50%;
  }

  &-list {
    padding-left: 1.5rem;
  }
 
}

.header {
  background-color: #323232;
  color: #fff;
  padding: 1rem 0;
}


.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

  &-title {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 12px;
  }

  &-letter {
    background-color: #53c1d8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #323232;
  }
}


.description {
  margin-left: 1rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 2rem;
  font-size: 1.5rem;
  min-height: 30rem;

  .fa {
    color: #323232;

    &:hover {
      color: #008dec;
    }
  }

  &__info {
    width: 65%;
    margin-left: 2rem;
  }

  &__image {
    width: 30%;
    padding-left: 2rem;
    width: 35%;
  }

  img {
    width: 100%;
  }
}


.skills {
  background-color: #323232;
  padding: 2rem 0;
  color: #fff;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-info {
    margin-top: 4rem;
  }
  
}

.socials {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

    